[project]
	description = A Gradle plugin which enables AspectJ for Android builds. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/polenchheang
[access "refs/for/refs/*"]
	read = group user/polenchheang
	push = group user/polenchheang
	label-Code-Review = -2..+2 group user/polenchheang
	label-Verified = -1..+1 group user/polenchheang
	rebase = group user/polenchheang
	removeReviewer = group user/polenchheang
	submit = group user/polenchheang
[access "refs/heads/*"]
	read = group user/polenchheang
	create = group user/polenchheang
	push = +force group user/polenchheang
	pushMerge = group user/polenchheang
[access "refs/tags/*"]
	push = +force group user/polenchheang
	pushTag = group user/polenchheang
	pushSignedTag = group user/polenchheang
